.exp {
  color: #00331a;
  text-align: center;
  /* background-color: #80b3ff; */
  background: linear-gradient(to right, #cfcfc9, #1b1b18);
  font-style: oblique;
  font-size: 18px;
  line-height: 1.6 !important;
}
