#skills {
  background: linear-gradient(to right, #44443c, #878778);
}
.skill-tile {
  max-width: 200px;
  margin: 10px;
  transition: transform 0.3s ease;
}
.skill-tile img {
  width: 75%;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  margin: 20px auto 0;
}
.skill-tile p {
  font-size: 30px;
  margin-top: 10px;
}
.skill-tile:hover {
  transform: scale(1.2);
}
